
:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.card-img-top {
  width: 50%;      /* This will make the image take the full width of the card */
  max-height: 50px;  /* This will limit the height of the image */
  object-fit: cover; /* This will ensure the image covers the area without distortion */
}

